@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: scroll;
}

/* Navbar start */
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    margin-right: auto;
}

.header {
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}


/* Get rid of link and list default styles */
.header-right {  
    display: flex;
    gap: 24px;
    justify-content: space-between;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Navbar end */

/* hero div start */

.hero-div{
    background-color: #1F2937;
    padding: 150px 200px 100px;
    display: flex;
    justify-content: center;
    height: 300px;
    color: white;
}

.hero-main-text {
    text-align: left;
    margin-top: 0;
    margin-bottom: 16px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    text-align: left;
    font-size: 18px;
    color: #e5e7eb;
}

.left-elements{
    padding-right: 75px;
}
.right-element{
    width: 50%;
    flex-shrink: 0;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

/* hero div end */

/* second layer (Some random information) */
.second-layer {
    height: 500px;
}

h1  {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.wrapper {
    padding: 50px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
}

.square {
    display: flex;
    align-self: center;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

.text {
    color: #95979b;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;

}
/* end second layer */